* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #080808;
    color: white;
}
#header {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/fotor_2023-6-6_20_16_57.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.container {
    padding: 15px 10%;
}
.header-text {
    margin-top: 20%;
    font-size: 20px;
}
.header-text h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 5px;
}
.header-text h1 span {
    color: #466D1d;
} 
.header-text h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}