nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    font-size: 40px;
    cursor: pointer;
}
.logo span {
    color: #466D1d;
}
.logo .a {
    text-decoration: none;
    color: whitesmoke;
}
nav ul li {
    display: inline-flex;
    list-style: none;
    margin: 10px 20px;
}
nav ul li .a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li .a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #466D1d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}
nav ul li .a:hover::after {
    width: 100%;
}